@import url(//fonts.googleapis.com/css?family=Roboto:400,100);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(//fonts.googleapis.com/css?family=Titillium+Web);

/* GLOBAL */
*{
    margin:0;
    padding:0;
}

body {
  background-color:  rgba(212, 218, 213, 0.72);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height:100%;

}

/* HEADER */
header{
	background-color: #257D25;
	position: fixed;
	width: 100%;
	max-height: 74px;
	height:100%;
	z-index: 100;
	top: 0px;
	left: 0px;
}

header .logo{
	float:left;
	width: 100px;
	height: 74px;
	margin-left: 5%;
}

header .logo img{
	width: auto;
	height: auto;
	max-height: 100px;
	max-width: 100px;
}

header .logo img:hover{
	cursor: pointer;
}

header ul{
	float:left;
	width: 50%;
	list-style-type: none;
	margin-top: 17px;
	font-size: 28px;
	margin-left: 7%;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

header ul li{
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

header ul li:hover{
	cursor: pointer;
	text-shadow: 3px 0px 5px rgba(0, 0, 0, 1);
	
}

header .search{
	float:right;
	margin-top: 18px;
	padding-right: 1%;
	margin-right: 5%;
}

header .search input{
	width: 350px;
	height: 40px;
	background-color: #175b17;
	border: none;
	font-size: 28px;
	padding-left: 4px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

/* MIDDLE */
#stats{
	margin-top:74px;
	width:90%;
	padding-top:3%;
	margin-left:5%;
	margin-right:5%;
	min-height: 600px;
	position: absolute;
}

.bootsBrands{
	width: 60%;
	float:left;
	padding-left: 5%;
	
}

.bootsBrands p, .topViewsPlayers p{
	background-color: transparent;
	color: #257D25;
	height: auto;
	margin-left:0;
	margin-right:0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
	border-bottom: 3px solid #257D25;
	margin-bottom: 3px;
}

.bootsBrands article{
	height: 300px;
	width: 100%;
	/* 
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;*/ 
	background-color: #27a327; 
}

.bootsBrands ul{
	list-style-type: none;
}

.bootsBrands ul li{
		
	height: 100%;
	list-style-type: none;
}


.bootsBrands ul li img{
	text-align:center;
	float:left;
	width:140px;
	height:140px;
}

section #brands{
	margin-bottom: 4px;
	
}

section #brands ul li img, section #bootModels ul li img{
	padding: 3px;
	
}

.topViewsPlayers {
	width: 33%;
	min-height: 100%;
	float:right;

}

.topViewsPlayers ul {
	list-style-type: none;
}
/* FOOTER */
